{%extends "base.html"%}

{% block head_title%}Dossiers manquants{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dossiers non numérisés</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Touts les dossiers non numerisés des agents de Carmi </li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                     Liste de dossiers non numerisés des agents
                     <div class="d-flex align-items-center justify-content-end">
                        <a class="btn btn-success btn-sm table-action-btn" href="{{https_url_for(request,'create_dossier_no_numeriser')}}"> Ajouter un dossier manquant</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                            {%for column in data["columns"]%}
                                <th>{{column}}</th>
                            {% endfor %}
                            <!-- <th class="{% if role != 'admin' %}hidden{% endif %}">action</th> -->
                            
                            </tr>
                        </thead>
                        <tfoot>
                            <tr id="tableFoot">
                            </tr>
                        </tfoot>
                        <tbody>
                            {%for row in data["rows"]%}
                                <tr data-toggle="modal"  style="cursor: pointer;">
                                    {%for cell in row%}

                                        <td>
                                            {{cell}}
                                            <!-- {%if loop.index == 1%}
                                        <a href="/admin/detail-agent/{{ row[0] }}" class="text-primary" style="text-decoration:none; cursor: pointer;">
                                            {{cell}}
                                        </a> -->
                                        <!-- {%else%} -->
                                       
                                        <!-- {% endif %} -->
                                        </td>
                    
                                    {% endfor %}
                                    <!-- <td style="text-align: center; width: 100px;" {% if role != 'admin' %} style="display:none;" {% endif %}>
                                        {%include "main_buttons.html"%}
                                    </td> -->
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    {%include "footer.html"%}

</div>

{%endblock%}



