{%extends "base.html"%}

{% block head_title%}Dashboard - SB Admin{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            
            <h1 class="mt-4">ArchiCARMI</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">La solution numérique pour la gestion et l'archivage des dossiers des agents de CARMI.</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Nombre Total de Dossiers numerisés: 200</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Nombre Total de Dossiers manquants:<strong>331</strong> </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Upcoming Birthdays</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Payroll</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Table des agents de la CARMI
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                            {%for column in data["columns"]%}
                                <th>{{column}}</th>
                            {% endfor %}
                            <th>action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr id="tableFoot">
                            </tr>
                        </tfoot>
                        <tbody>
                            {%for row in data["rows"]%}
                                <tr data-user-id="{{ row[0] }}" onclick="navAgentDetails(this)" style="cursor: pointer;">
                                    {%for cell in row%}
                                        <td >
                                            {%if loop.index == 1%}

                                            <a href="/admin/detail-agent/{{ row[0] }}" class="text-primary" style="text-decoration:none; cursor: pointer;">
                                                {{cell}}
                                            </a>
                                            {%else%}
                                            {{cell}}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td style="text-align: center; width: 100px;">
                                      
                                        <button class="btn btn-info btn-sm table-action-btn" data-pdf-path="{{ row[8] }}" onclick="openViewModal('{{ row[8] }}')">
                                            Voir
                                        </button>
                            
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {%include "pdfModal.html"%}
    </main>

    {%include "footer.html"%}

</div>

{%endblock%}



