{%extends "base.html"%}

{% block head_title%}Dashboard - SB Admin{%endblock%}


{%block content%}

       
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create New User Account</h3></div>
                                    <div class="card-body">
                                        <form method="post" action="/admin/create-user">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" name="first_name" required/>
                                                        <label for="inputFirstName">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" name="last_name" required />
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputUsername" type="text" placeholder=" Enter your username" name="username" required />
                                                <label for="inputUsername">Username</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputGender" type="text" placeholder="Gender" name="gender" required />
                                                <label for="inputGender">Gender</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" name="email" required/>
                                                <label for="inputEmail">Email address</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <select class="form-control" id="inputRole" name="role" required>
                                                    <option value="admin">admin</option>
                                                    <option value="user">user</option>
                                                   
                                                </select>
                                                <label for="inputRole">Role</label>
                                            </div>

                                       
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" name="password" required/>
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                
                                            </div>
                                            <div class="mt-4 mb-0">
                                        
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{{https_url_for(request,'login')}}">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                {%include "footer.html"%}
                            </div>
                        </div>
                    </div>
                
           
           


{%endblock%}
