{%extends "base.html"%}

{% block head_title%}Dossiers perdus{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dossiers perdus ou égarés aprés la numérisation</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Touts les dossiers perdus aprés la numerisation </li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                     Liste de dossiers perdus aprés la numerisation
                     <div class="d-flex align-items-center justify-content-end">
                        <a class="btn btn-success btn-sm table-action-btn" href="{{https_url_for(request,'create_dossier_perdu')}}"> Ajouter un dossier manquant</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                            {%for column in data["columns"]%}
                                <th>{{column}}</th>
                            {% endfor %}
                            <th>action</th>
                            
                            </tr>
                        </thead>
                        <tfoot>
                            <tr id="tableFoot">
                            </tr>
                        </tfoot>
                        <tbody>
                            {%for row in data["rows"]%}
                                <tr data-toggle="modal"  style="cursor: pointer;">
                                    {%for cell in row%}

                                        <td>
                                            {{cell}}
                                    
                                        </td>
                                    {% endfor %}

                                    <td style="text-align: center; width: 100px;" {% if role != 'admin' %} style="display:none;" {% endif %}>
                                        <button class="btn btn-danger btn-sm table-action-btn delete-user-btn" data-user-id="{{ row[0] }}" onclick="openDeletePerduModal({{ row[0] }})">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-primary btn-sm table-action-btn" data-user-id="{{ row[0] }}" onclick="openEditPerduModal({{ row[0] }})">
                                            Modifier
                                        </button>

                                    </td>
                                   
                                  
                                </tr>
                             

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




            <!-- Edit Modal -->
<div class="modal fade" id="editPerduModal" tabindex="-1" aria-labelledby="editPerduModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPerduModalLabel">Modifier le fichier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPerduForm" enctype="multipart/form-data">
                    <input type="hidden" id="editPerduId" name="id">
                    <div class="mb-3">
                        <label for="editPerduFullname" class="form-label">Nom Complet</label>
                        <input type="text" class="form-control" id="editPerduFullname" name="fullname">
                    </div>
                    <div class="mb-3">
                        <label for="editPerduTitleNumber" class="form-label">Numero de Titre</label>
                        <input type="text" class="form-control" id="editPerduTitleNumber" name="title_number">
                    </div>
               
                    <div class="mb-3">
                        <label for="editPerduCategory" class="form-label">Catégorie</label>
                        <input type="text" class="form-control" id="editPerduCategory" name="category">
                    </div>
                    <div class="mb-3">
                        <label for="editPerduFolder" class="form-label">Dossier Numero</label>
                        <input type="text" class="form-control" id="editPerduFolder" name="folder">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Sauvegarder les changements</button>
                </form>
            </div>
        </div>
    </div>
</div>
        
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deletePerduModal" tabindex="-1" aria-labelledby="deletePerduModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePerduModalLabel">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet agent ? Cette action est irréversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmPerduButton">Supprimer</button>
                </div>
            </div>
        </div>
    </div>


    </main>

    {%include "footer.html"%}

</div>

{%endblock%}



