{%extends "base.html"%}

{% block head_title%}Dossiers manquants{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dossiers non numérisés</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Touts les dossiers non numerisés des agents de Carmi </li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                     Liste de dossiers non numerisés des agents
                     <div class="d-flex align-items-center justify-content-end">
                        <a class="btn btn-success btn-sm table-action-btn" href="{{https_url_for(request,'create_dossier_no_numeriser')}}"> Ajouter un dossier manquant</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                            {%for column in data["columns"]%}
                                <th>{{column}}</th>
                            {% endfor %}
                            <th>action</th>
                            <!-- <th class="{% if role != 'admin' %}hidden{% endif %}">action</th> -->
                            
                            </tr>
                        </thead>
                        <tfoot>
                            <tr id="tableFoot">
                            </tr>
                        </tfoot>
                        <tbody>
                            {%for row in data["rows"]%}
                                <tr data-toggle="modal"  style="cursor: pointer;">
                                    {%for cell in row%}

                                        <td>
                                            {{cell}}
                                    
                                        </td>
                    
                                    {% endfor %}

                                    <td style="text-align: center; width: 100px;" {% if role != 'admin' %} style="display:none;" {% endif %}>
                                        <button class="btn btn-danger btn-sm table-action-btn delete-user-btn" data-user-id="{{ row[0] }}" onclick="openDeleteManquantModal({{ row[0] }})">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-primary btn-sm table-action-btn" data-user-id="{{ row[0] }}" onclick="openEditManquantModal({{ row[0] }})">
                                            Modifier
                                        </button>

                                    </td>
                                  
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        
            <!-- Edit Modal -->
<div class="modal fade" id="editManquantModal" tabindex="-1" aria-labelledby="editManquantModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editManquantModalLabel">Modifier le fichier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editManquantForm" enctype="multipart/form-data">
                    <input type="hidden" id="editManquantId" name="id">
                   
                    <div class="mb-3">
                        <label for="editManquantTitleNumber" class="form-label">Numero de Titre</label>
                        <input type="text" class="form-control" id="editManquantTitleNumber" name="title_number">
                    </div>

                    <div class="mb-3">
                        <label for="editManquantFullname" class="form-label">Nom Complet</label>
                        <input type="text" class="form-control" id="editManquantFullname" name="fullname">
                    </div>


               
                    <div class="mb-3">
                        <label for="editManquantCategory" class="form-label">
                            <i class="fas fa-users me-2"></i>Catégorie
                        </label>
                        <select class="form-control" id="editManquantCategory" name="category">
                            <option id="currentCategoryOption" value=""></option>
                            <!-- Dynamically render categories from the database -->
                            {% for category in categories %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                      
                    </div>
                 
                   
                    <button type="submit" class="btn btn-primary">Sauvegarder les changements</button>
                </form>
            </div>
        </div>
    </div>
</div>
        
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteManquantModal" tabindex="-1" aria-labelledby="deleteManquantModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteManquantModalLabel">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet agent ? Cette action est irréversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmManquantButton">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    </main>

    {%include "footer.html"%}

</div>

{%endblock%}



