{%extends "base.html"%}

{% block head_title%}Dossiers manquants{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dossiers non numérisés</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Touts les dossiers non numerisés des agents de Carmi </li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                     Liste de dossiers non numerisés des agents
                     
                </div>
                <div class="card-body">
                    <table id="manquantTable">
                        <thead>
                            <tr>
                            {%for column in columns %}
                                <th>{{column}}</th>
                            {% endfor %}
                   
                        
                            
                            </tr>
                        </thead>
                      
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        

    </main>

    {%include "footer.html"%}

</div>

{%endblock%}



