{%extends "base.html"%}

{% block head_title%}Users{%endblock%}


{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Les utilisateurs et leurs roles</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Touts les utilisateurs qui ont droit d'accès à cette plateforme </li>
            </ol>
            

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                     Table des utilisateurs ayant droit d'accès
                     <div class="d-flex align-items-center justify-content-end">
                        <a class="btn btn-success btn-sm table-action-btn" href="{{https_url_for(request,'register')}}"> Ajouter un utilisateur</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="usersTable">
                        <thead>
                            <tr>
                            {%for column in columns%}
                                <th>{{column}}</th>
                            {% endfor %}
                            <th>action</th>
                            </tr>
                            
                        </thead>
                        <tfoot>
                            <tr id="tableFoot">
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

                <!-- Delete User Confirmation Modal -->
             
                <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteUserModalLabel">Confirmer la suppression</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irréversible.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-danger" id="confirmUserDeleteButton">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>

    {%include "footer.html"%}

</div>

{%endblock%}



